{% block datalist_widget %}
  <input list="{{ id }}_list" placeholder="Type to search..." class="form-control" {{ block('widget_attributes') }}{% if value is not empty %}value="{{ value }}"{% endif %}>
  <datalist id="{{ id }}_list">
    {% for choice in choices %}
      <option value="{{ choice }}"></option>
    {% endfor %}
  </datalist>
{% endblock %}

{% block submit_row %}
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-lg">{{ label|default('Submit') }}</button>
  </div>
{% endblock %}