<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Dinosaurs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if app.user is not null %}
              <twig:Molecules:NavItem route='app_list_dinosaurs'>Dinosaurs list</twig:Molecules:NavItem>
              {% if 'ROLE_ADMIN' in app.user.roles %}
                <twig:Molecules:NavItem route='app_create_dinosaur'>Create a dinosaur</twig:Molecules:NavItem>
              {% endif %}
                <twig:Molecules:NavItem route='app_list_habitats'>Habitats list</twig:Molecules:NavItem>
              {% if 'ROLE_ADMIN' in app.user.roles %}
                <twig:Molecules:NavItem route='app_create_habitat'>Create a habitat</twig:Molecules:NavItem>
              {% endif %}
                <twig:Molecules:NavItem route='app_list_species'>Species list</twig:Molecules:NavItem>
              {% if 'ROLE_ADMIN' in app.user.roles %}
                <twig:Molecules:NavItem route='app_create_species'>Create a species</twig:Molecules:NavItem>
              {% endif %}
              <twig:Molecules:NavItem route='logout'>Logout</twig:Molecules:NavItem>
            {% else %}
              <twig:Molecules:NavItem route='register'>Register</twig:Molecules:NavItem>
              <twig:Molecules:NavItem route='login'>Login</twig:Molecules:NavItem>
            {% endif %}
          </ul>
            {% if searchForm is defined %}
              {{ form_start(searchForm, { 'attr': {'class': 'd-flex'}}) }}
                {{ form_widget(searchForm.q) }}
                {{ form_widget(searchForm.submit) }}
              {{ form_end(searchForm) }}
            {% endif %}

            {% if app.user is not null %}
              <span class="navbar-text ms-2">
                {{ app.user.userIdentifier }}
              </span>
            {% endif %}
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block flashMessage %}
      {% if app.session.flashbag.peekAll %}
      <div id="container">
        {% for name, messages in app.session.flashbag.all %}
          {% for message in messages %}
            <div class="alert alert-{{ name }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
    {% endblock %}

    {% block body %}{% endblock %}
  </body>
</html>
