{% extends 'base.html.twig' %}

{% form_theme form with [
  'form/fields/ticket.html.twig'
] %}

{% block title %}Make a reservation{% endblock %}

{% block body %}
<main class="d-flex justify-content-center">
  <div class="w-50">
    <h1 class="text-center">Make a reservation</h1>

    {{ form_start(form) }}
      <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
      </div>

      {{ form_row(form.dateOfVisit) }}
      {{ form_label(form.tickets) }}
      {{ form_help(form.tickets) }}
      {{ form_errors(form.tickets) }}
      {{ form_widget(form.tickets, { 'shouldDisplayGift': form.gift is defined }) }}

      <button type="button"
        class="add-another-collection-widget btn btn-outline-secondary mb-3 mt-3 d-block w-60 mx-auto"
        data-list-selector="#tickets-fields-list"
      >
        + Add another ticket
      </button>

      {% if form.gift is defined %}
        <p>
          Thank you {{ form.vars.value.buyer }}!
          You can choose a gift. The gift choices depend on the total price of your reservation.
          The more tickets the better the gift.
        </p>
        {{ form_row(form.gift) }}
      {% endif %}

      {{ form_row(form.comment) }}
      {{ form_row(form.submit) }}
      {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
  </div>
</main>

<script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}