{% extends 'base.html.twig' %}

{% block title %}Dinosaurs{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/dinosaurs.css') }}" />
{% endblock %}

{% block javascripts  %}
  <script src="{{ asset('js/eventsource.min.js') }}" defer></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/dinosaurs.js') }}" defer></script>
{% endblock %}

{% block body %}
  <main>
    <div id="alert-container">
      <!-- Alert messages will be inserted here -->
    </div>
    <div class="list-group" id="dinosaurs-list">
      {% for dinosaur in dinosaurs %}
        {{ include('_dinosaur-list-item.html.twig', {dinosaur: dinosaur}) }}
      {% endfor %}
    </div>
  </main>
  <template id="dinosaur-item-template">
    {{ include('_dinosaur-list-item.html.twig') }}
  </template>
{% endblock %}
